* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 360px) {
    .container {
        max-width: 345px;
    }
}

@media (min-width: 500px) {
    .container {
        max-width: 450px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 668px) {
    .container {
        max-width: 620px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


header {
    background-color: rgb(45,45,48);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

    header a {
        color: white;
        text-decoration: none;
    }

nav {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
    /*font-weight: bold;*/
}

.navbar-toggler {
    margin-left: auto;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-nav {
    list-style-type: none;
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
    }
}

.nav-item {
    margin: 0 5px;
}

main {
    /*margin: 60px 0 25px 0;*/
    min-height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);
    overflow-y: auto;
    background-color: rgb(45,45,48);
}

footer {
    color: white;
    background-color: rgb(0,122,200);
    /*width: 100%;*/
    /*white-space: nowrap;*/
    height: 25px;
    display: flex;
    align-items: center;
}

    footer a {
        color: white;
        text-decoration: none;
    }
