

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 360px) {
    .container {
        max-width: 345px;
    }
}

@media (min-width: 500px) {
    .container {
        max-width: 450px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 668px) {
    .container {
        max-width: 620px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

a {
    color: white;
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 60px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(45,45,48);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 24px;
    /*font-weight: bold;*/
}

.navbar-toggler {
    margin-left: auto;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

.navbar-nav {
    list-style-type: none;
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
    }
}


.nav-item {
    margin: 0 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
