@addTagHelper *, JayBlog
@{
  ViewData["Title"] = "Privacy Policy";
}
<div style="background-color:black;color:white;">

  <span>@ViewData["Title"]</span>

  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <p>Use this page to detail your site's privacy policy.</p>
  <span>Use this page to detail your site's privacy policy.</span>

  @*@await Component.InvokeAsync("TopBar")*@
</div>